<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>评估</string>
			<key>iconName</key>
			<string>home_mune_00</string>
		</dict>
		<dict>
			<key>title</key>
			<string>查册</string>
			<key>iconName</key>
			<string>home_mune_01</string>
		</dict>
		<dict>
			<key>title</key>
			<string>查学位</string>
			<key>iconName</key>
			<string>home_mune_02</string>
		</dict>
		<dict>
			<key>title</key>
			<string>申请按揭</string>
			<key>iconName</key>
			<string>home_mune_03</string>
		</dict>
		<dict>
			<key>title</key>
			<string>预约过户</string>
			<key>iconName</key>
			<string>home_mune_04</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>个税查询</string>
			<key>iconName</key>
			<string>home_mune_10</string>
		</dict>
		<dict>
			<key>title</key>
			<string>征信查询</string>
			<key>iconName</key>
			<string>home_mune_11</string>
		</dict>
		<dict>
			<key>title</key>
			<string>房产查询</string>
			<key>iconName</key>
			<string>home_mune_12</string>
		</dict>
		<dict>
			<key>title</key>
			<string>房贷计算</string>
			<key>iconName</key>
			<string>home_mune_13</string>
		</dict>
		<dict>
			<key>title</key>
			<string>税费计算</string>
			<key>iconName</key>
			<string>home_mune_14</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>公积金查询</string>
			<key>iconName</key>
			<string>home_mune_20</string>
		</dict>
		<dict>
			<key>title</key>
			<string>社保查询</string>
			<key>iconName</key>
			<string>home_mune_21</string>
		</dict>
		<dict>
			<key>title</key>
			<string>房管局地址</string>
			<key>iconName</key>
			<string>home_mune_22</string>
		</dict>
		<dict>
			<key>title</key>
			<string>房源</string>
			<key>iconName</key>
			<string>home_mune_23</string>
		</dict>
		<dict>
			<key>title</key>
			<string>购房问答</string>
			<key>iconName</key>
			<string>home_mune_24</string>
		</dict>
	</array>
</array>
</plist>
